<h1>Kursinformation</h1>

<div id="kurs-info">
    <div id="search">
        <label for="searchbar">Sök efter kurs:</label>
        <input type="text" id="searchbar" placeholder="kurskod eller kursnamn" [(ngModel)]="searchedValue" (input)="searchCourse()">
    </div>


    <table>
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Progression</th>
            <th>Kursplan</th>
        </tr>
        <tr  *ngFor = "let info of searchedCourse">
            <td>{{ info.code }}</td>
            <td>{{ info.coursename }}</td>
            <td>{{ info.progression }}</td>
            <td> <a href="{{ info.syllabus }}">Kursplan</a></td>
        </tr>
    </table>
</div>
