<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_drop_down" />

<h1>Kursinformation</h1>

<div id="kurs-info">
    <div id="search">
        <label for="searchbar">Sök efter kurs:</label>
        <input type="text" id="searchbar" placeholder="kurskod eller kursnamn" [(ngModel)]="searchedValue" (input)="searchCourse()">
    </div>


    <table>
        <tr>
            <th (click)="sortCourseCode()" id="coursecode">Kurskod <span class="material-symbols-outlined">arrow_drop_down</span></th>
            <th (click)="sortCourseName()"  id="coursename">Kursnamn <span class="material-symbols-outlined">arrow_drop_down</span></th>
            <th  (click)="sortProgression()" id="progression">Progression <span class="material-symbols-outlined">arrow_drop_down</span></th>
            <th>Kursplan</th>
        </tr>
        <tr  *ngFor = "let info of searchedCourse()">
            <td>{{ info.code }}</td>
            <td>{{ info.coursename }}</td>
            <td>{{ info.progression }}</td>
            <td> <a href="{{ info.syllabus }}">Kursplan</a></td>
        </tr>
    </table>
</div>
