th {
    background-color: #9d9a55;
    color: white;
    padding: 18px;
    font-size: 110%;
    border: 1px solid #7a7841;
}

td {
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid #7a7841;
}

tr:nth-child(odd) {
    background-color: #c5c288;
}

tr:nth-child(even) {
    background-color: #fcfaea;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding: 15px;
    padding-top: 35px;
}

a {
    text-decoration: none;
    color: #454415;
}

a:hover {
   color: #848132;
}

#search {
    margin: auto;
    width: 33%;
    padding: 10px;
}

#searchbar {
    padding: 5px;
    border: 1px solid #7a7841;
    border-right: 3px solid #7a7841;
    border-bottom: 3px solid #7a7841;
    border-radius: 5px;
    margin-left: 10px;
}

::placeholder {
    color: #c5c288;
}

.material-symbols-outlined {
    display: inline-block;
    vertical-align: -6px;
}





